<nav>
    <h1>Sobre mim</h1>
    <p>Me chamo Ruan Kayro, tenho 21 anos e sou de Fortaleza-CE.</p>
    <p>Sou estudante do curso de Tecnologia em Desenvolvimento Web.
        Desenvolvo aplicações front end, principalmente utilizando o framework Angular, e atualmente
     estou me aprofundando também em linguagens de back end, bancos relacionais e UML. Não me limito à faculdade,
     portanto também sou aluno autodidata, complementando meus estudos com linguagens e framework
     do meu interesse.</p>
</nav>