footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px 0px 16px 0px;
    height: 15vh;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer img {
    height: 30px;
}

.footer a {
    transition: 200ms linear;
}

.footer a:hover {
    position: relative;
    transform: translateY(-5px);
}

/* Text animation */
.conect {
    border-right: 2px solid rgb(255, 255, 255, 0.5);
    white-space: nowrap;
}

.typing-animation {
    animation: blinkCursor 700ms infinite normal;
}

@keyframes blinkCursor{
    from {
        border-right-color: rgb(255, 255, 255, 0.5)
    }
    to {
        border-right-color: transparent;
    }
}
