h1 {
    padding-top: 16px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 80px 0px 160px 0px;
    gap: 40px;
}

nav img {
    height: 50px;
}

.tech_progress {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 5px 5px 5px 5px;
    height: 60px;
    width: 300px;
    border: solid gray 1px;
    border-radius: 5px;
}

